<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>Your Profile:</h3>
<style>
.profileEdit{
     display:none;
	 
}    
#hide{
visibility:hidden;
}
th{
width:180px;
}
</style>
<script>
     function toggle(obj){
	 alert("show");
	  var show= document.getElementById("hide");
	  show.style.visibility="visible";
	 }
	 function update(){
	    var show= document.getElementById("hide");
	  show.style.visibility="hidden";
	 }
</script>
<form name="form" ng-submit="vm.register()" role="form">
<table >
   <tr >
  <th >firstname</th><th>lastname</th> <th>username</th> <th>password</th><th>email</th><th>phoneNumber</th><th>location</th> <th>Edit</th> <th>Save</th> 
   </tr>
   <tr >
  <td ng-repeat="var in vm.user">{{var}}</td> <td><input type="button" ng-click="getName(vm.user)" onclick="toggle(this)" value="Edit"></td><td><button type="submit"  onclick="update()" ng-click="update()">save</button>
   </tr>
   <tr id="hide"><td><input type='text' ng-model='vm.user.firstName'></td>
<td><input type='text' ng-model='vm.user.lastName'></td><td><input type='text' ng-model='vm.user.username'></td>
<td><input type='text' ng-model='vm.user.password'></td><td><input type='text' ng-model='vm.user.Email'></td><td><input type='text' ng-model='vm.user.Phone'></td>
<td><input type='text' ng-model='vm.user.Location'></td></tr>
</table>
</form>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>